.a ul li a{
    font-size: 0.7rem;
    /* padding: 0px 9px; */
}
.d img {
    height: 65px;
}
.border1 {
    padding: 2px 3px;
} 
.head{
    font-size: 1.5rem;

}
#brief .logo img {
    height: 151px;
    
}
