.a ul li a{
    font-size: 0.9rem;
    /* padding: 0px 9px; */
}
.d img {
    height: 65px;
}
.border1 {
    padding: 2px 3px;
}
#addqaa {
    margin-right: 116px;
    width: 182px;
}
#forma {
    width: 300px;
}
