<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Delivery</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav id="a">
        <div id="b">
            <img src="logo.png" alt="">

        </div>
        <ul>
            <li class="item"><a href="#">Home</a></li>
            <li class="item"><a href="#">Services</a></li>
            <li class="item"><a href="#">AboutUs</a></li>
            <li class="item"><a href="#">Contact US</a></li>
            
        </ul>
    </nav>
    <section id="home">
        <h1 class="h">Welcome To Burger King</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga ea veniam quaerat quae illum consequuntur officia sunt minima, eaque soluta placeat, suscipit ullam libero iusto quod maiores impedit. Nesciunt, iusto?
        </p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet obcaecati adipisci tempora distinctio labore corrupti minima accusamus officia laboriosam eaque voluptas placeat perferendis quisquam explicabo iusto itaque quaerat, dolor sit?</p>
        <button class="btn">Order Now

        </button>
    </section>
    <section class="services">
        <h1 class="h center">Our Services</h1>
        <div id="ser">
            <div class="box">
                <img src="img/1.png" alt="">
                <h2 class="h1 center">Food Ordering</h2>
                <p class=" center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, sequi explicabo error obcaecati aliquam doloribus quisquam, doloremque numquam a, dicta nobis ducimus! Perspiciatis ea suscipit soluta assumenda, obcaecati repudiandae ducimus!</p>

            </div>
            <div class="box">
                <img src="img/2.png" alt="">
                <h2 class="h1 center">Food Catering</h2>
                <p class=" pa center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, sequi explicabo error obcaecati aliquam doloribus quisquam, doloremque numquam a, dicta nobis ducimus! Perspiciatis ea suscipit soluta assumenda, obcaecati repudiandae ducimus!</p>

            </div>
            <div class="box">
                <img src="img/3.png" alt="">
                <h2 class="h1 center">Food Bulking</h2>
                <p class=" pa center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, sequi explicabo error obcaecati aliquam doloribus quisquam, doloremque numquam a, dicta nobis ducimus! Perspiciatis ea suscipit soluta assumenda, obcaecati repudiandae ducimus!</p>

            </div>
            
        </div>
    </section>
    <section id="client-section">
        <h1 class="h center">Our Clients</h1>
        <div id="client">
            <div class="citem">
                <img src="img/logo1.png">
            </div>
            <div class="citem">
                <img src="img/logo2.png">
            </div>
            <div class="citem">
                <img src="img/logo3.png">
            </div>
            <div class="citem">
                <img src="img/logo4.png">
            </div>
        </div>
    </section>
    <section id="contact">
        <h1 class="h center">Contact Us</h1>
        <div id="contactbox">
            <form action="">
                <div class="formgroup"> 
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" placeholder="Enter Name">
                </div>
                <div class="formgroup"> 
                    <label for="name1">Email</label>
                    <input type="email" name="name" id="name1" placeholder="Enter Email">
                </div>
                <div class="formgroup"> 
                    <label for="num">Phone No:</label>
                    <input type="number" name="name" id="num" placeholder="Enter Number">
                </div>
                <div class="formgroup"> 
                    <label for="message">Message</label>
                    <textarea name="message" id="message" cols="30" rows="10"></textarea>
                </div>




            </form>
        </div>
    </section>
    <footer>
        <div class="center">
            Copyright &copy;myonlinemeal.com. All Rights Reserved
        </div>
    </footer>
</body>
</html>
















.navbar-inner {
    background: transparent;
  }

  .backimg::before {
    content: "";
    background: url(/static/bitmap.png)no-repeat center center/cover;
    position: absolute;
    height: 60%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
  }

  section.form {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  form.form-inline {
    border: 1px solid black;
    background: white;
    border-radius: 7px;
  }

  input.form-control.mr-sm-2 {
    width: 278px;
    border: 2px white solid;
    border-radius: 8px;
  }


  button.btn.btn-primary.my-2.my-sm-0 {
    font-size: 0.7rem;
    border: 2px solid;
    border-radius: 20px;
    width: 100px;
  }

  .otherhalf {
    background-color: white;
    margin-top: 200px;
  }

  .brief2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5pc;

  }

  .d img {

    height: 200px;

    background-color: white;
    align-items: center;
  }

  .border1 {
    padding: 75px;
  }

  .buttona {
    align-items: center;
  }

  .showall {
    align-items: center;
    flex-direction: column;
    display: flex;
  }

  button.buttona.btn.btn-outline-primary {
    width: 141px;
    border-radius: 20px;
  }

  .white {
    color: white;
  }

  .border1.border2 {
    border: 1px solid black;
    border-radius: 20px;
    margin: 20px;
    justify-content: center;
    width: 300px;
    background: white;
  }
  h6.center {
    font-size: 0.7rem;
  }
  .brief3::before {
    content: "";
    background: url(/static/path6.png)no-repeat center center/cover;
    position: absolute;
    height: 60%;
    width: 100%;
    z-index: -1;
    opacity: 1;
  }
  h6.para {
    font-size: 0.7rem;
  }

  a.nav-link {

    padding: 0;
  }
  .footer {
    font-size: 0.6rem;
  }
  footer {
    background: url(/static/footer.png)no-repeat center center/cover;
    position: absolute;
    height: 60%;
    width: 100%;
    z-index: -1;
    opacity: 1;
  }
  .foot {
    color: white;
  }
  .center {
    text-align: center;
  }