<!doctype html>
<html lang="en">

<head>
  <style>
   
   .navbar {
      color: blanchedalmond;
      background-color: black;
    }

    .navbar ul li a {
      /* display block to give padding */
      color: white;
      display: block;
      padding: 3px 22px;
      border-radius: 20px;
      /* to remove underlines we use text decoration */
      text-decoration: none;

    }

    .navbar ul li a:hover {
      color: black;
      background-color: white;

    }
    .center{
      text-align: center;

    }
    .qtitle{
      font-weight: 900;
    }

    #brief {
      display: flex;
      flex-direction: column;
      padding: 65px 181px;
      /* height: 2907px; */
      /* to bring content to center */
      justify-content: center;
      align-items: center;
    }

    #brief::before {
      content: "";
      /* to get image at background */
      background-color: cyan;
      position: absolute;
      height: 0%;
      width: 100%;
      z-index: -1;
      opacity: 0.59;

    }
    .qimg img {
    width: 605px;
}

    /* .qimg img{
      height: 200px;

    } */
footer {
  background-color: black;
  height: 200px;
  margin-top: 11px;
}
.a {  display: flex;
     justify-content: center;
     align-items: center;

}
.b{
border: 10px white solid;
background-color: white;
border-radius: 20px;
}

  </style>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" media="screen and (max-width:952px)" / href="/static/phoneplcpro.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
  <title>plcwplsoft</title>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-165252921-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-165252921-1');
</script>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script data-ad-client="ca-pub-8019090857172030" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light"id="top">
  <a class="navbar-brand" href="#">NAKSHAUTOMATION</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/pyhmi">PYHMI</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ask">Q&A</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Overview
        </a>
        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
          
<a class="dropdown-item" href="#">PLC INTERFACING</a>
<a class="dropdown-item" href="/plcove">1.Plc Overview</a>
<a class="dropdown-item" href="/plcpro">2.Plc Programming</a>
<a class="dropdown-item" href="/plcwplsoft">3.Interfacing Plc with wplsoft</a>
<a class="dropdown-item" href="/kep">4.Interfacing Plc with Intouch scada</a>
<a class="dropdown-item" href="/sqlscada">5.Interfacing Plc with Sqlserver </a>
<a class="dropdown-item" href="/pythonplc">6.Interfacing Plc with Python</a>
<div class="dropdown-divider"></div>
 <a class="dropdown-item" href="#">FLASK FRAMEWORK</a>
<a class="dropdown-item" href="/flask">1.FLASK</a>
<a class="dropdown-item" href="/flaskuser">2.Flask login&Register</a>
<a class="dropdown-item" href="/flaskvalid">3.Flask validation</a>
 <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="#">PYTHON APPLICATIONS</a>
<a class="dropdown-item" href="/reminder">1.Water Reminder</a>

        </div>
      </li>

    </ul>

  </div>
</nav>

  <section id="brief">


    
      <h2 class="qtitle center"> Communicating Delta PLC with WPLSOFT</h2>
    
    <div class="q1">
       
    <p class="explain ">
        1.Open WPLSOFT software and click on new file<br>
        2.Select PLC model
    </p>
    
        <div class="qimg">
            <img src="/static/plcmodel.PNG" alt="">
    
          </div>
          
        <p class="explain ">
        a.Give programme title<br>
        b.Select model type as PLC<br>
        c.Select your PLC model(Select proper model or code won't compile)
        d.Select communication settings.<br>
        It can be Ethernet Or RS232<br>
       
        </p>
          
      
          
          <p class="explain ">
         
          Keep rest settings as it is and click on OK.<br>
          Once all setup is done you can write a ladder logic as per your application
      </p>
    </div>
  





    <!-- <div class="q3"> -->

      <h2 class="qtitle center"> Transfering PLC code into PLC( using Ethernet)</h2>
    <!-- </div> -->
      <div class="qimg">
        <img src="/static/write.PNG" alt="">

      </div>

      
      <div class="q1">
      <p class="explain ">After completing ladder logic you need to transfer it to PLC and for that<br>
        1.Click on Ethernet<img src="/static/ethernet.PNG" alt=""><br>
        2.Then press auto search ethernet module and you will find IP address of PLC<img src="/static/m.PNG" alt=""><br>
        3.Go to Control Panel ->Network and sharing center<br>
        here you will find your plc connection with your pc via ethernet<br>
        4.Now click on connection and then click on properties and you will see this screen<br>
       
        </p>
        <div class="qimg">
            <img src="/static/ipv4.PNG" alt="">
    
          </div>
      </div>

      <div class="q1">
        <p class="explain ">5.Now enter the internet protocol version IPV4
             and click on manually obtain IP address<br>
	     6.If IP address of your PLC is say 192.168.1.5 then set your PLC<br>
           IP address to same range for eg:(set it to 192.168.1.10)<br>
	   then subnetmask will be selected automatically.Enter gateway as 192.168.1.1<br>
          Now PLC and Your PC are in same range(both have same gateway)<br>
          This is only for ETHERNET COMMUNICATION 
          </p>
          <div class="qimg">
            <img src="/static/ip.PNG" alt="">
    
          </div>
         
      </div>


      
      <h2 class="qtitle center"> Transfering PLC code into PLC( using ASCII)</h2>
      <div class="q1">
        <p class="explain ">If user wants to use ASCII communication or if user does not have ethernet support<br>
            then user can use RS232 & RS485<br>
            RS232 is used for transferring code to PLC<br>
            RS485 is used for connecting PLC with SCADA applications<br><br>
            For using ASCII communication user needs to install drivers for RS232 & RS485 which<br>
            can be downloaded from below
            



         
          </p>
          <div class="qimg">
            <img src="/static/rs232.PNG" alt="">
    
          </div>
          <p class="explain ">
            <a href=" https://drive.google.com/file/d/1QTGdZzYXfu0TmBaur-gfs7-L884R7dJj/view?usp=drivesdk"><button class="btn btn-primary">Download</button></a>

                   </p>
          <p class="explain ">
            Select COM port<br>
            You can find it in Device Manager<br>
            Go to device manager and find Port(COM & LPT)<br>
            Put same port in WPLSOFT's com port section<br>
            Keep rest settings as it is and click on OK.<br>
            Once all setup is done you can write a ladder logic as per your application
        </p>
      </div>
         
      
     
     

    <div class="q1">
      <div class="qimg">
        <h2 class="qtitle center">Running Code</h2>
        <img src="/static/compile.PNG" alt="">

      </div>
      <p class="explain ">After connecting with ip address now we need to compile our code<br>
        1.Compile your code by clicking on the button shown in figure<img src="/static/compilebut.PNG" alt=""><br><br>
        2.Click on write code to PLC<img src="/static/writeto.PNG" alt=""><br><br>
        3.If user wants to read any of his code from PLC then click on <img src="/static/readfrom.PNG" alt=""><br><br>
        4.Once code is written into PLC user can run the code by pressing<img src="/static/run.PNG" alt=""><br><br> 
        5.User can do live tracking of his PLC code by using online mode<img src="/static/onlinemode.PNG" alt=""><br><br>
     
    </p>
    </div>
          <h2 class="qtitle center">You can share your difficulties related to PLC,Webdevelopment,Python,Flask framework</h2>


            <form id="upload-form" action="/uploader" method="POST" enctype="multipart/form-data" onsubmit=" return askvalidateform()">
        <div class="form-group">
            <label for="name">Enter Name:</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
            <span id="nameerror" class="text-danger"></span>
          </div>

          <div class="form-group">
            <label for="comment">Ask Your Question: </label>
            <textarea rows="5" cols="30" class="form-control " id="comment" name="comment"
              placeholder="Ask Question"></textarea>
            <span id="commenterror" class="text-danger"></span>
          </div>
        <input type="file" name="file" accept="image/" multiple>
        <input type="submit" value="send" class="btn btn-primary">
        </form>
  </section>

<footer>
  <div class="a">
          <a class="nav-link" href="/privacy">privacy policy</a>
           <a class="nav-link" href="/static/about.html">AboutUs</a>

  </div>
  <div class="a">
<a class="copyrighted-badge" title="Copyrighted.com Registered &amp; Protected" target="_blank" href="https://www.copyrighted.com/website/QjqZmRG3Uu18hu8o"><img alt="Copyrighted.com Registered &amp; Protected" border="0" width="125" height="35" srcset="https://static.copyrighted.com/badges/125x25/04_2_2x.png 2x" src="https://static.copyrighted.com/badges/125x25/04_2.png" /></a><script src="https://static.copyrighted.com/badges/helper.js"></script>
</div>
<div class="a">

<a class="nav-link " href="https://www.linkedin.com/in/naksh-automation-61a72b1a9"><i class="fa fa-linkedin b"></i></a>
<a class="nav-link " href="https://github.com/akashb12?tab=repositories"><i class="fa fa-github b"></i></a>
<a class="nav-link " href="mailto:nakshautomation07@gmail.com"><i class="fa fa-envelope b"></i></a>


</div>
<div class="a">

<a class="nav-link " href="#top"><i class="fa fa-chevron-up"></i></a>

</div>

</footer>        
<script type="text/javascript">
    function askvalidateform() {
      // for storing regemailid and regpasswordid value in variables
      var askname = document.getElementById('name').value;
      var askcomment = document.getElementById('comment').value;

      //    this is for setting email and password check
      var namecheck = /^[A-Za-z_0-9- !@#$%^&*()/.,:;"']{3,}$/;
      var commentcheck = /^[A-Za-z_0-9- !@#$%^&*().,:;"'\n]{3,}$/;

      if (namecheck.test(askname)) {


        document.getElementById('nameerror').innerHTML = " ";
        // return true;

      } else {
        document.getElementById('nameerror').innerHTML = "**Error";
        alert("error:Please Enter Valid Name");
        return false;

      }
      if (commentcheck.test(askcomment)) {
        document.getElementById('commenterror').innerHTML = "";
        // return true;



      } else {
        document.getElementById('commenterror').innerHTML = "**Error";
        alert("error:Please Enter Valid Comment")
        return false;
      }
      // to insert into localstorage

    }
  </script>

</body>

</html>
